*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-repeat: repeat;
    background-position: center center;
    background-image: repeating-linear-gradient(25deg, green, blue, yellow, white, red, indigo, black);
    padding: 0; margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    --card-count: 4;
    --card-width: calc( ( 100vw / var(--card-count) ) );
}

@media only screen and (min-width: 600px) {
    body {
        --card-count: 6;
    }
}

app-cards {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    width: calc( var(--card-count) * var(--card-width) );
}

app-card {
    display: block;
    width: var(--card-width);
    height: var(--card-width);
}

@media only screen and (min-width: 1000px) {
    app-cards {
        width: 1000px;
    }
    app-card {
        width: calc( 1000px / 6 );
        height: calc( 1000px / 6 );
    }
}
